boto3
botocore
tqdm
requests
Pillow
pillow-heif
jupyterlab
moviepy==1.0.3
xmltodict
pyyaml
google-genai
protobuf
sentencepiece
chromadb
sentence-transformers
open-clip-torch
opencv-python-headless
dotenv
ffmpeg-python
streamlit
albumentations==1.3.1
